@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(http://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGHngwbT-PAqnFFyDXiNtj6_1hJ8Wh_I_m6S6NXjmco45kjSb-k4NqJogRacUsFHifw&skey=cf4dfcb31d72fb0a&v=v9) format('woff2');
}
