

.shoubu {
	margin-top: 25px;
}

.shoubu p {
	color: #7b5700;
}

.xiaodaohang {
	margin-top: 40px;
}

.xdhr {
	width: 90%;
	float: right;
	color: #a6a6a6;
}

.xdhr i {
	margin-right: 10px;
}

.xdhx.zx {
	margin-top: 50px;
}

.xdhx .p01 {
	float: left;
}

.xdhx .p02 {
	float: right;
}

.xdhx {
	margin-top: 10px;
}

.p01.yanse {
	color: #7B5700;
	font-size: 17px;
}

.liantu.float {
	float: left;
	margin-right: 5px;
}

.fayan {
	display: inline-block;
	padding: 3px 6px;
	border: 3px solid #F5D437;
	color: #7B5700;
}

.col-md-3.sc {
	margin-top: 35px;
	margin-bottom: 25px;
}

.maxdiv.vid {
	padding-bottom: 585px;
}

.wrap-padd {
	padding: 20px;
}

.tobef {
	width: 80%;
	margin: 0 auto;
}

.offo {
	width: 80%;
	margin: 0 auto;
}

.wrap-padd h2,.wrap-padd p {
	color: rgb(123,87,0);
}

.ma_top {
	margin-top: 5px;
}