
 

  .nrnr p {
     color: #7b5700;
  }

  .nrnr .gs {
  	color: #bdb5b5;
  }

  .form-group.xqb {
  	margin-top: 50px;
  }

  .control-label.ds {
  	background:#F5D437;
  	line-height: 20px;
	padding: 7px;
	text-align: center;
	border-radius: 3px;
	color: #7b5700;
  }

  .btnn.yz {
    margin-top: 130px;
  }