
/*??????*/

  .height1{
    padding: 0;
    margin: 0 0 0 217px;
    background: white;
    text-decoration: none;
    border: none;
   }

.list-l{
     list-style: none;
}

.col-md-4.jz {
  text-align: center;
}
.img-thumbnail, .thumbnail {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border: none;
}

.div01{
  margin-top: 80px;
}
.img1{
  margin-top: 50px;
}
.section2.index {
  background: rgb(254,212,55) url(../image/animated.gif);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 560px;
}
.div02{
  margin-top: 50px;
  text-align: center;
  background: rgba(8, 7, 7, 0) none repeat scroll 0% 0%;
  color: #fff;
}
.a001 {
  color: rgb(123,87,0);
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
}
.a001:hover {
  color: rgb(123,87,0);
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
}
.h01 .p1{
  color: #757272;
      font-size: 1.5rem;
    line-height: 2;
    margin: 5px 0px;
}
.a002{
  color: #1BA1E1;
  font-weight: bold;
}

 .container .thumbnail p a:hover {
    color: #53B50A;
    text-decoration: underline;

}


.a003{
  font-weight: bold;
}
.p2{
  font-size: 0.8825rem;
  line-height: 1.5;
  color: #999;
  margin-top: 5px;
}
.label1{
  margin-bottom: 2px;
min-height: 1px;
display: block;
color: #999;
font-weight: bold;
}
.btn1{
  margin-top: 45px;
  background: rgb(245,212,55);
  border-color: rgb(245,212,55);
  color: rgb(123,87,0);
}
.p3{
  font-size: 3rem;
line-height: 1.2;
margin: 5px 0px;
}
.a004{
  margin-bottom: 5px;
padding-right: 116px;
line-height: 20px;
}

.two{
  top: 485px;
}
.section01{
  position: absolute;
  top: 300px;
  left: 221px;
}
.btn2{
  padding: 0px;
margin-top: 8px;
}
.section02{
  margin: 40px;
}

.right1{
     float: right;
     margin-top: 23px;
   }
 
   
   .btn01{
    background: rgb(245,212,55);
    border-color: rgb(245,212,55);
    padding: 1px 9px;
    font-size: 21px;
    color: #fff;
   }
   .dv1{
    width: 209px;
    margin-left: 75px;
   }
   .section3{
    width: 100%;
    margin-top: 28px;
   }
   .div03{
    width: 100%;
    height: 55px;
    background: #e5e5e5;
    margin: 35px 0;
   }
    .section3 .div03 .ul01 li{
    display: inline-block;
    list-style: none;
    font-size: 14px;
    padding: 0px 30px;
    margin-top: 14px;
    color: rgb(123,87,0);
   }
   .clear{
    overflow: hidden;
    width: 100%;
   }
    .p1{
     margin-left: -14px;
color: #7B5700;
line-height: 24px;
   }
    .img2{
     padding: 5px 20px;
   }
   
  
 

.ctr{
    width: 1000px;
}
.div001{
    margin-left: 52px;
}


 

 
 .div008{
    padding-left: 0px;
 }
 .h0001{
   margin-top: 17px;
margin-bottom: 20px;
 }
 .h0002{
    margin-bottom: 70px;
 }
  .ul01{
    
    text-align: center;
 }
 .ul03{
    text-align: center;
 }
 .ul03 li{
    display: inline-block;
    list-style: none;
    font-size: 14px;
    padding: 0px 12px;
    margin-top: 14px;
    color: rgb(123,87,0);
 }

 .image-tobead {
  margin-left: 75px;
 }
 .fr{
  float:right;
 }

   .onelogo{
    float: left;
   }
   
   .btn01{
    background: rgb(245,212,55);
    border-color: rgb(245,212,55);
    padding: 1px 9px;
    font-size: 21px;
    color: #fff;
   }

   
    .footer-image{
    text-align: center;
   }
   .footer{
    background: rgb(245,212,55);
    height: 150px;
    text-align: center;
    color: rgb(123,87,0);
   }
   .footer p:nth-child(1){
    margin-bottom: 30px;
    padding-top: 7px;
   }
   .footer-ul li{
    list-style: none;
    display: inline-block;
 }
 .clear{
    clear: both;
   }

   .btn02 b{
    font-weight: normal;
    padding-right: 22px;
    color: rgb(123,87,0);
   }
   
   
   ·
   /**/
   .firline ul li{
    float: left;
    text-align: center;
    color: rgb(123,87,0);
    padding: 0 25px;
   }
   .firline ul{
    margin: 0px auto;
    width: 71%; 
   }
   
   .div03 .ul03 a{
     color: rgb(123,87,0);
     padding: 0 5px;
   }
   .div03 .ul03 a:hover{
    text-decoration: none;
    background: rgb(245,212,55);
    padding: 0 5px;
   }
   .action{
    background: rgb(245,212,55);
   }
   .ul01 a{
    color: rgb(123,87,0);
   }
   .ul01 a:hover{
    text-decoration: none;
   }

   .container-fluid h2.tjfy {
    padding-left: 14px;
    color: rgb(127,87,0);
   }