
.onelogo{
  float: left;
}
.navbar-form .form-group .ipt1{
  width: 300px;
  border-color: rgb(245,212,55);
  background: rgb(245,212,55);
}
.btn01{
  background: rgb(245,212,55);
  border-color: rgb(245,212,55);
  padding: 1px 9px;
  font-size: 21px;
  color: #fff;
}
.btn02 b{
  font-weight: normal;
  padding-right: 22px;
  color: rgb(123,87,0);
}

 /*幻灯片*/
.h1text{
  color: #fff;
}
 /*导航无色条*/
ul li a.land-a{
  padding: 0 3px;
  background: rgb(245,212,55);
}
.collapse ul.navbar-nav li a:hover{
  background:rgb(245,212,55);
}
/**/
.dd{
  border: 2px solid #ccc;
  padding: 30px;
  margin-left: 141px;
}
.dd .w1{
  text-align: center;
  color: rgb(123,87,0);
  float: left;
  width: 400px;
}

.w1 p {
  font-size: 17px;
  font-weight: bold;
}

.dd .w2{
  text-indent: 2em;
  color: rgb(123,87,0);
}
.co{
  width: 70%;
  margin: 0 auto;
}
.h2-c{
  margin: 35px 0;
}
h2{
  background: rgb(245,212,55);
  display: inline;
  padding: 6px;
  font-size: 25px;
  color: #7b5700;
}
.x-j{
  margin-left: 141px;
  text-indent: 2em;
  color: rgb(123,87,0);

}
.q1{
  width: 0;
  height: 0;
  border-top: 50px solid rgb(245,212,55);
  border-right: 50px solid transparent;
  position: absolute;
  left: -10px;
}
.q2{
  width: 0;
  height: 0;
  border-top: 50px solid rgb(115,193,241);
  border-right: 50px solid transparent;
  position: absolute;
  left: -10px;
}
.q3{
  width: 0;
  height: 0;
  border-top: 50px solid rgb(224,127,92);
  border-right: 50px solid transparent;
  position: absolute;
  left: -10px;
}
.ca{
  line-height: 50px;
  position: relative;
}
.nm{
  position: relative;
}
.md{
  position: absolute;
  top: -14px;
  left: -37px;
}
.md p{
  line-height: 50px;
  color: #fff;
}
.action{
background: rgb(245,212,55);
}