
   .btn01{
    background: rgb(245,212,55);
    border-color: rgb(245,212,55);
    padding: 1px 9px;
    font-size: 21px;
    color: #fff;
   }

   /*»ÃµÆÆ¬*/
   .h1text{
  color: #fff;
}
.btn{
  border-radius: 0;
}
.btn03{
    background: rgb(245,212,55);
    border-color: rgb(245,212,55);
    color: rgb(123,87,0);
    padding: 6px 38px;
}
.btn02{
    background: #fff;
}
 .search-wrap-ofcont{
    background: rgba(255, 255, 255, 0.58) none repeat scroll 0% 0%;
    padding: 10px;
 }
 .search-wrap-ofcont{
      width: 45%;
      margin: 0 auto;
}
 .search-wrap{
  position: absolute;
   bottom: 55%; 
   width: 100%;
   text-align:center;
 }
 .search-wrap-cont{
  margin: auto; 
  width: 620px;  
 }

 .input-group{
  width: 82%;
 }

 .fl{
  float: left;
 }

 .fr{
  float:right;
 }
   /*µ¼º½ÎÞÉ«Ìõ*/
   ul li a.land-a{
    padding: 0 3px;
    background: rgb(245,212,55);
   }
 /**/
 .er-w{
    width: 30%;
    margin: 0 auto;
   }
   .er{
    float: left;
   }
   .erer{
    float: right;
   }
/**/
   .siedebar {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
   }
   .siedebar ul li{
    list-style: none;
    border-bottom: 2px solid #fff;
    background: rgba(231, 199, 32, 0.75);


   }

   .siedebar ul li .div1{
    display: inline-block;
    width: 25%;
    background: rgb(216,187,49);
    text-align: center;
    height: 3em;
    line-height: 40px;
   }
   .siedebar ul li .div2{
    display: inline-block;
    width: 73%;
    background: rgba(231, 199, 32, 0.75) none repeat scroll 0% 0%;;
    text-align: center;
    line-height: 40px;
    height: 3em;
    color: rgb(123,87,0);
    font-weight: bold;
   }
   .siedebar ul li .div2 a{
     color: rgb(123,87,0);
   }
.image-1{
    text-align: center;
}
.image-1 p{
    color: rgb(123,87,0);
    position: relative;
    z-index: 10;
}
.c-m-3{
  padding: 0;
}
.padding{
        padding-bottom: 10px;
   }
   .imagebox1{
    position: relative;
   }
 .onimage-content-right{
    position: absolute;
    bottom: 0;
    background: rgba(245, 212, 55, 0.41) none repeat scroll 0% 0%;
    width: 100%;
    text-align: center;
   }
   .onimage-content-right span{
    color: #fff;
   }
   .c-m-8 h3{
    display: inline-block;
    margin: 0px;
    background: rgb(245,212,55) none repeat scroll 0% 0%;
    padding: 2px 10px;
    color: rgb(123,87,0);
    font-size: 15px;
    margin-top: 20px;
    line-height: 40px;
   }
   .c-m-8 h3:nth-child(1){
    margin-top: 40px;
    line-height: 40px;
   }
   .cm8-1{
    border: 1px solid rgb(245,212,55);
    width: 47%;
    padding: 15px;
    margin-top: 20px 0;
   }
   .cm8-1 ul{
    margin-bottom: 0;
   }
   .cm8-1 span{
    padding: 10px;
    line-height: 49px;
   }
   .cm8-1 span .fa{
    font-size: 20px;
    background: rgb(245, 212, 55) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(245, 212, 55);
    border-radius: 6px;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
   }
   .cm8-1 span b{
    font-weight: normal;
    color: rgb(123,87,0);
    font-size: 12px;
   }
   .cm8-1 .sp{
    margin-left: 39px;
   }
   .cm8-2{
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(245,212,55);
    margin:50px 0;
   }
   .cm8-2 p{
    color: rgb(123,87,0);
    margin-bottom: 0;
   }
   .cm8-3{
    margin-top: 14px;
   }
   .cm8-4{
    border: 1px solid rgb(245,212,55);
    padding: 11px 0px 0px 0px;
   }
   .image-1{
    position: relative;
   }
   .image-1 img{
    position: relative;
    z-index: 1;
   }
   .image-1 p{
    padding-bottom: 5px;
   }
   .tuyinying{
    position: absolute;
    background: rgba(5, 4, 4, 0.13) none repeat scroll 0% 0%;
    height: 156px;
    width: 100%;
    bottom: 0px;
   }
   .btn02 b{
    font-weight: normal;
    padding-right: 22px;
    color: rgb(123,87,0);
   }
   .firline ul li{
    float: left;
    text-align: center;
    color: rgb(123,87,0);
    padding: 0 25px;
   }
   .firline ul{
    margin: 0px auto;
    width: 71%; 
   }
   .footer .ul-fo li{
       float: left;
      margin: 0 30px;
   }
   .footer .ul-fo{
     width: 42%;
       margin: 0 auto;
   }
   .footer > p:nth-of-type(4){
    margin-top: 28px;
   }
   .foo {
    border: 1px solid #F5D437;
    padding: 10px;
    margin-bottom: 70px;
   }
   .foo .foo-t {
    text-align: center;
    background: #F5D437;
   }
   .foo p {
    color: rgb(123,87,0);
   }
   .foo .foo-t span{
    color: #fff;
   }
   .maxdiv .image-1 a {
    font-size:12px;
    color: #746E6E;
    margin-left: 5px;
   }
   .wdaa{
    background:  rgb(245,212,55);
    border-color:  rgb(245,212,55);
    color: rgb(123,87,0);
   }
   .wadd {
    background:  rgb(245,212,55);
    border-color:  rgb(245,212,55);
    color: rgb(123,87,0);
   }
   .wadd .caret {
    color: #fff;
   }
   .soller{
    text-align: center;
    margin-top: 50px;
   }
   .soller li{
    line-height: 40px;
    color: rgb(123,87,0);
   }
   .soller li a{
    color: rgb(123,87,0);
   }
   .doot {
    margin-bottom: 50px;
   }

   .txt-a {
    text-align: right;
   }

  .qiuzu-text {
    border: 3px solid rgb(245, 212, 55);
    font-size: 18px;
    margin-top: 10px;
  }

  .mysome {
    float: right;
    margin-top: 34px;
    color: #7b5700;
  }
  .mysome:hover {
    color: #7b5700;
  }