	body{
			background: #fff;
		}
		.fl{
			float: left;
		}

		.fr{
			float: right !important;
		}




		.head_1 dl{
			background: #fcfcfc;
			line-height: 24px;
			
		}
		.head_1 dl dd {
			float: left;
			padding:1% 2%;
			font-size: 16px;
			color: #808080;
			line-height: 32px;


		}

		.head_1 dl dd:hover{
			border-bottom: 4px solid red;
			color: #EA5A3C;

		}

		.head_1 dl dd:nth-child(5):hover{
			border-bottom: none;
			

		}

	

		.page_tag{
			font-size: 14px;
			background: #fcfcfc;
			padding: 2%;
			margin-bottom: 2% ;
		}

		.page_tag a{
			color: #555;
		}
/*
		.page-body dl{
			padding: 1% 2%;
		}*/

		.page_tag dl{
			margin-bottom: 0px;
		}

		.page_tag dl dd{
			line-height: 35px;

		}

		.page_tag dl dd ul{
			padding-left: 0;
		}

		.page_tag dl dd ul li{
			display: inline;
			line-height: 20px;
			list-style: none;
			margin-right: 2%;
			color:black;


		}
		.page_tag dl dd ul li a{
			border-radius: 4px;
			padding:5px;
		}
		.active{
			background: #2ea7e0;
			border-radius: 4px;
			padding:5px;
			color: #fff!important;
		}
		.page_tag dl dd ul li:nth-child(1){
			font-weight: bold;
			font-size: 16px;
			color: #808080;

		}


		.page_content{
			background: #fcfcfc;
		}


		

		
		

		.page_tag dl dd ul li a:hover{
			color: #FFF;
			background: #2ea7e0;
			border-radius: 4px;
			padding:5px;
			color: #fff;
			 text-decoration: none;
		}



		.page_content dl dt{
			padding:1% 1%;
			background-color: #FFF8EE;
		}
		.page_content dl dt ul{
			padding-left:0px;
		}
		.page_content dl dt ul li{
			text-align: center;
			float: left;
			width: 88px;
			list-style: none;
		}

		.page_content table {
			width: 100%;
		}

		.page_content td {
			text-align: center;
		}


		.page_content dl dd{
			background-color: #FFF8EE;
		}

		.page_content dl dd{
			padding:1% 1%;
			border-bottom: 1px solid #ECEDEE;
		}
		.page_content dl dd ul{
			padding-left:0px;
			margin-bottom: 0px;
			line-height: 24px;


		}
		.page_content dl dd ul li{
			text-align: center;
			float: left;
			width: 88px;
			list-style: none;
			font-size: 12px;
			color: #808080;
		}

		.page_content dl dd{
			background-color: #FFF;
		}

		thead tr th{
			padding: 10px;
			font-size: 14px;
			padding: 7px 8px;
			text-align: center;
		}

		table thead{
			background-color: #FFF8EE;

		}
		
		tbody tr{
			border-bottom: 1px solid #ECEDEE;

		}
		table thead i{
			color: #2ea7e0 ;
		}

		tbody tr td{
			padding: 10px;
		}

		tbody tr > td:nth-child(2) a{
			color: #D8110B;
		}

		tbody tr > td:nth-child(7) a{
			color: #F59703;
		}

		tbody tr > td:nth-child(9) a{
					color: #D8110B;
				}
		tbody tr > td:nth-child(10) a{
			color: #5DB384;
		}
		tbody tr > td:nth-child(13) a{
			    color: #D8110B;
		}
		tbody tr > td:nth-child(13){
			width: 70px;
		}
		tbody tr > td:nth-child(12){
			width: 120px;
		}
		


		tbody tr td a{
			font-size: 16px;
			color: rgb(51,51,51);
		}
