*{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navbar-firstpart{
    padding: 0;
    margin: 0 0 0 217px;
    background: white;
    text-decoration: none;
    border: none;
   }
   .navbar-right1{
     float: right;
     margin-top: 23px;
   }
   .onelogo{
    float: left;
   }
   .navbar-form .form-group .ipt1{
    width: 300px;
    border-color: rgb(245,212,55);
    background: rgb(245,212,55);
   }
   .btn01{
    background: rgb(245,212,55);
    border-color: rgb(245,212,55);
    padding: 1px 9px;
    font-size: 21px;
    color: #fff;
   }
   .navbar-secondpart{
    padding: 0;
    margin: 0;
    border: none;
    background: rgba(8, 7, 7, 0.16) none repeat scroll 0% 0%;
    z-index: 2;
    width: 100%;
    min-height: auto;
    height: 30px;
    position: inherit;
   }
   .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent;
    }
   .nav-ul{
    margin-left: 184px;
    width: 61%;
    text-align: center;
   }
   
   .navbar-default .navbar-nav > li > a {
    color: rgb(123,87,0);
    border-right: 2px solid #fff;
    padding: 5px 30px;
    font-weight: bold;
    }
    .navbar-nav > li > a{
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .footer-image{
    text-align: center;
    padding: 15px 0;
   }
   .footer{
    background: rgb(245,212,55);
    height: 450px;
    text-align: center;
    color: rgb(123,87,0);
   }
   .footer p:nth-child(1){
    margin-bottom: 30px;
    padding-top: 7px;
   }
   .footer-ul li{
    list-style: none;
    display: inline-block;
 }
 .clear{
    clear: both;
   }
   .navbar{
    line-height: 0;
   }
   .navbar-right li a{
    padding: 2px 6px;
    margin-top: 10%;
    margin-right: 15%;
   }
   .btn02 b{
    font-weight: normal;
    padding-right: 22px;
    color: rgb(123,87,0);
   }
   .firline ul li{
    float: left;
    text-align: center;
    color: rgb(123,87,0);
    padding: 0 25px;
   }
   .firline ul{
    margin: 0px auto;
    width: 71%; 
   }
   .footer .ul-fo li{
       float: left;
      margin: 0 30px;
   }
   .footer .ul-fo{
     width: 42%;
       margin: 0 auto;
   }
   .footer > p:nth-of-type(4){
    margin-top: 28px;
   }
  
   /*导航无色条*/
   ul li a.land-a{
    padding: 0 3px;
    background: rgb(245,212,55);
   }
.collapse ul.navbar-nav li a:hover{
  background:rgb(245,212,55);
 }
 .navbar-right li{
  float: left;
 }
 .navbar-right li a{
  color: rgb(123,87,0);
 }
 /*上传房源按钮*/
 .sedai{
    background: rgb(232,229,222);
    text-align: center;
    margin-top: 10px;
 }
 .sedai a{
    color: rgb(123, 87, 0);
font-size: 20px;
font-weight: bold;
padding: 3px 30px;
line-height: 60px;
border: 3px solid rgb(245,212,55);
 }
 .sedai a:hover{
    text-decoration: none;
 }
 .sedai p{
    color: rgb(123,87,0);
line-height: 40px;
padding-bottom: 16px;
 }
 .input-k{
    text-align: center;
 }
 .input-k li{
    padding: 10px 0;
 }
 .input-k input{
    line-height: 30px;
    width: 200px;
 }
 .input-k span{
    color: rgb(245,212,55);
    margin-left: 5px;
    font-size: 20px;
 }
 .choice-down3{
    width: 57%;
 }
 .choice-down3 p{
    color: rgb(123,87,0);
 }
 .choice-down3 ul ul ul li{
    color: rgb(123,87,0);
 }
  .e3{
    display: inline-block;
margin-left: 34%;
background:rgb(245,212,55);
padding: 2px 13px;
color:rgb(123,87,0);
margin-bottom: 0;
 }
  .cont-t{
    margin-bottom: 75px;
  }
   .wadd {
    background:  rgb(245,212,55);
    border-color:  rgb(245,212,55);
    color: rgb(123,87,0);
   }