
   .onelogo{
    float: left;
   }
   .btn01{
    background: rgb(245,212,55);
    border-color: rgb(245,212,55);
    padding: 1px 9px;
    font-size: 21px;
    color: #fff;
   }
    .footer-image{
    text-align: center;
    padding: 15px 0;
   }
   .footer{
    background: rgb(245,212,55);
    height: 450px;
    text-align: center;
    color: rgb(123,87,0);
   }
   .footer p:nth-child(1){
    margin-bottom: 30px;
    padding-top: 7px;
   }
   .footer-ul li{
    list-style: none;
    display: inline-block;
   }
   .footer-ul a{
    color: rgb(123,87,0);
   }
 .clear{
    clear: both;
   }
   .btn02 b{
    font-weight: normal;
    padding-right: 22px;
    color: rgb(123,87,0);
   }
   .firline ul li{
    float: left;
    text-align: center;
    color: rgb(123,87,0);
    padding: 0 25px;
   }
   .firline ul{
    margin: 0px auto;
    width: 71%; 
   }
   .footer .ul-fo li{
       float: left;
      margin: 0 30px;
   }
   .footer .ul-fo{
     width: 42%;
       margin: 0 auto;
   }
   .footer > p:nth-of-type(4){
    margin-top: 28px;
   }
   /*幻灯片*/
   .h1text{
  color: #fff;
}
.btn{
  border-radius: 0;
}
.btn02{
    background: #fff;
}
 .search-wrap-ofcont{
    background: rgba(255, 255, 255, 0.58) none repeat scroll 0% 0%;
    padding: 10px;
 }
 .search-wrap-ofcont{
      width: 56%;
      margin: 0 auto;
}
 .search-wrap{
  position: absolute;
   bottom: 55%; 
   width: 80%;
   left: 10%;
   text-align:center;
 }
 .search-wrap-cont{
  margin: auto; 
  width: 620px;  
 }

 .input-group{
  width: 82%;
 }

 .fl{
  float: left;
 }

 .fr{
  float:right;
 }
   /*导航无色条*/
   ul li a.land-a{
    padding: 0 3px;
    background: rgb(245,212,55);
   }
 /**/
 .hsetiao{
    background-color: rgb(245,212,55);
    width: 80%;
    margin: 0px auto;
    left: 10%;
    bottom: 0;
    position: absolute;
 }
 .hsetiao p{
    float: right ;
    display: inline-block;
    margin-right: 8%;
    padding-top: 8px;
    color: #7B5700;
    font-weight: bold;
 }
 .hsetiao-n{
    width: 80%;
    border-right: 3px solid #fff;
    float: left;
 }
 .hsetiao-n p{
    margin-left: 31px ;
    display: inline-block;
    padding-top: 8px;
    float: left;
    text-align: center;
 }
 .zhonghai p{
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 35px;
    padding: 6px;
    color: #7B5700;
 }

 .zhonghai b{
  font-size: 20px;
  color: #7b5700;
  font-weight: normal;
 }

 .zhonghai i {
  font-size: 30px;
 }

 .tuwen-zi ul{
    float: left;
 }
 .tuwen-zi li{
    float: left;
    margin: 0 20px;
 }

 .tuwen-zi span{
  margin-left: 10px;
  color: #aaa;
 }
 
 .fff ul li {
  float: left;
  margin-right: 19px;
  margin-bottom: 19px;
 }
 .bak{
    text-align: center;
    background: #F5D437;
    height: 30px;
    line-height: 30px;
    color: #7B5700;
 }
 .beijingse {
  background: #d4d3ce;
 }


 .hr {
    border-bottom: 1px solid  #7B5700;
 }

 .tuwen-zi {
   color: #7B5700;
 }
 

 .tuwen-zi p{
    line-height: 15px;
    font-size: 12px;
    margin: 12px 0px;  
 }

 .tuwen-zi a {
  color: #7B5700;
 }

  .row.xiaqu {
    margin-bottom: 35px;
  }

  .container.xiaqu {
    padding-top:50px;
  }

  .jfsk-btn{
    display: inline-block;
  }

  .video {
    text-align: center;
  }

  .video video {
    width: 500px;
    height: 390px;
  }


  .text p{
    color: #7B5700;
    font-size: 13px;
    text-indent: 50px;
  }
  
  .button1.btn {
    border: 1px solid rgb(221, 221, 221);
    padding: 1px 10px;
    border-radius: 4px;
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 5px;
  }

  .zujin {
    color: #000;
  }

  .format1.nick {

    display: none;
  }

  .nick {
    position: absolute;
    top: 45px;
    left: 270px;
    display: block;
    z-index: 100;
    background: rgb(240,240,240);
    padding: 5px 10px;
  }

  .pos {
    position: relative;
  }

   .ab.ba{
    position:static !important;
    margin-left: 0 !important;
  }

  .nick ul li {
    line-height: 0;
  }

  .kk {
    text-align: right;
  }

  .an {
    padding: 0;
    border-radius: 5px !important;
    background:rgb(245,212,55);
  }

  .expert-info-btn {
    position: absolute;
    bottom: -52px;
  }

  .fff.col-md-3 {
    position: relative;
  }

  .large.block {
    border: 1px solid #fff;
  }

  .hiddenX {
  visibility: hidden;
}


  