  .content-one-1 li {
  	  float: left;
  	  padding: 5px 0 0 7px;
  }

  .content-one-1 {
  	border: 1px solid #bababa;
    background: #fff;
  }

  .content-one-1-2 {
  	padding-left: 30px;
  	color: #807e7e;
  	vertical-align: top;
  }

  .content-one-1-2 .zi {
  	float: left;
  	color: #7B5700;
  	font-size: 22px;
  	font-weight: bold;
  }

  .content-one-1-2 .num {
  	float: right;
  	color: #111;
  }

  .content-one-1-2 .poe {
  	float: right;
  	margin: 0 6px 0 0px;
  	color: #F5D437;
  }


  .content-one-2 {
  	border: 1px solid #bababa;
  	height: 70px;
    background: #fff;
  }

  .content-one-2 li {
  	float: left;
	margin: 22px 15px;
	border-right: 1px solid #ccc;
	padding-right: 20px;
  }

  .content-one-2 li a {
  	border: 1px solid #bababa;
	padding: 4px 11px;
    color: #807e7e;
    border-radius: 2px;
  }

  .content-one-2 li i {
  	font-size: 14px;
  	color: #7B5700;
  }

  .content-one-2 .li-2w {
  	border-right:none;
  }

  .tuwen-zi p {
     line-height: 10px;
  }

  .container.txt {
  	margin-top: 50px;
  }

  .container.txt p {
  	margin: 0;
  	text-indent: 2em;
  	color: #7B5700;
  	padding-bottom: 10px;
  }

  .container.txt a {
  	margin-top: 50px;
  	margin-bottom: 30px;
  }

  .jfsk-btn.yellow {
  	margin-top: 20px;
  }

 .suibian {
 	width: 75%;
 	margin: 0 auto;
 }

  .suibian p{
    color: #7B5700;
    padding-bottom: 10px;
  }

  .suibian p span{
  	display:inline-block;
  	width:45px;
  	height:45px;
  	border-radius:50%;
  	background:#F5D437;
  	left: -60px;
  	top: 0px;
  	padding-top: 11px;
  	text-align: center;
  	font-size: 16px;
  	font-weight: 700;
    margin-left: -35px;
  }

  .suibian b {
  	font-weight: normal;
    width: 95%;
    float: right;
  }

  .suibian .text-b {
    width: 95%;
    float: right;
  }

  /**/
 body{
      margin:0;
      height:100%;
      width:100%;
      position:absolute;
    }
    #mapContainer{
      position: absolute;
      top:0;
      left: 0;
      right:0;
      bottom:0;
    }
    #tip{
      height:45px;
      background-color:#fff;
      padding-left:10px;
      padding-right:10px;
      border:1px solid #969696;
      position:absolute;
      font-size:12px;
      right:10px;
      bottom:30px;
      border-radius:3px;
      line-height:45px;
    }
    
    #tip input[type='button']{
      height:28px;
      line-height:28px;
      outline:none;
      text-align:center;
      padding-left:5px;
      padding-right:5px;
      color:#FFF;
      background-color:#0D9BF2;
      border:0;
      border-radius: 3px;
      margin-top:8px;
      margin-left:5px;
      cursor:pointer;
      margin-right:10px;
    }