@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Anonymous Pro'), local('AnonymousPro'), url(https://fonts-gstatic.lug.ustc.edu.cn/s/anonymouspro/v8/Zhfjj_gat3waL4JSju74ExEOS6Aq7hJAAidQNR3rgdU.woff2) format('woff2'), url(https://fonts-gstatic.lug.ustc.edu.cn/s/anonymouspro/v8/Zhfjj_gat3waL4JSju74E1tUcs43uvLUMv3hfHgzs3w.woff) format('woff');
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'), url(https://fonts-gstatic.lug.ustc.edu.cn/s/anonymouspro/v8/WDf5lZYgdmmKhO8E1AQud8GfYvzQ_DwqEC2arHsRzXk.woff2) format('woff2'), url(https://fonts-gstatic.lug.ustc.edu.cn/s/anonymouspro/v8/WDf5lZYgdmmKhO8E1AQudy_O50XgJwSsgBhwZ9pjuTs.woff) format('woff');
}
@font-face{
font-family: 'klxiyuan411510';
src: url('../font/klxiyuan.eot');
src: url('../font/klxiyuan.eot?#iefix') format('embedded-opentype'),
     url('../font/klxiyuan.woff') format('woff'),
     url('../font/klxiyuan.ttf') format('truetype'),
     url('../font/klxiyuan.svg#klxiyuan') format('svg');
    font-weight: normal;
    font-style: normal;
   }
 /*{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts-gstatic.lug.ustc.edu.cn/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2'), url(https://fonts-gstatic.lug.ustc.edu.cn/s/oswald/v10/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}*/
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts-gstatic.lug.ustc.edu.cn/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2'), url(https://fonts-gstatic.lug.ustc.edu.cn/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}
