<ion-view view-title="detail">
  <ion-nav-buttons>
    
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list" >
      <div class="item item-thumbnail-left">
        <img src="http://placehold.it/20x29">
        <h2>dfiosfd</h2>
        <p>sdfiodi</p>
      </div>
    </div>
    <div class="bar bar-stable" > 
      a sidebar
    </div>
    <ion-slides option='options'>
      <ion-slide-page>
        <div class="box blue"><h2>sdisod</h2></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box blue"><h2>sdisod</h2></div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>