<ion-view view-title="imageYear在">
  <ion-nav-buttons side="right">
    <button class="button button-royal">return</button>
  </ion-nav-buttons>
  <ion-content>
  <ion-list>
    <ion-item collectoin-repeat="item in items">
      <a href="">sdffd</a>
      <a href="#/tab/imageSelected">
        <img ng-src="http://placehold.it/40x40" width="40" heihgt="40">
        <img ng-src="http://placehold.it/40x40" width="40" heihgt="40">
        <img ng-src="http://placehold.it/40x40" width="40" heihgt="40">
        <img ng-src="http://placehold.it/40x40" width="40" heihgt="40">
      </a>
    </ion-item>
  </ion-list>

  </ion-content>
</ion-view>