<ion-view view-title="moment" hide-back-buttons="false" hide-nav-bar="false"> 
    <ion-nav-buttons side="left">
      <a href="" class="button button-clear button-assertive button-dark button-clear ion-chevron-left icon-left">back</a>
    </ion-nav-buttons>
    
  <ion-content>
<pre>
           <code class="css">
             .css{
             sifosifo
           }
             <div>asfiosd</div>
           </code>
         </pre>
      <ion-refresher></ion-refresher>
        <button class="button button-big button-positive">sdf</button>
        <button class="button"> <i class="icon ion-loading-c"></i> loading..</button>
        <button class="button icon-left ion-home ">sdf</button>
        <a href="" class="button button-clear ion-home icon-left">left sfs</a>
        <ul class="list list-inset">
          <div class="item item-divider">icon badge a target</div>
          <a href="" class="item item-icon-left">
            <i class="icon ion-email"></i>check email
            <span class="item-note">sfdsds</span>
            <span class="badge badge-assertive">sdf</span>
         </a> 


         <div class="item item-divider">button list</div>
         <div class="item item-button-left">
           <button class="button button-balanced">sfd</button>sdf
         </div>
          
          <div class="item-divider item">search</div>
          <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-ios-search placeholder-icon"></i> <input type="search" placeholder="search"> <button class="button button-clear button-assertive"> cancel</button>
            </label>
          </div>

         <div class="item item-divider">item avatar</div>
         <div class="item item-avatar">
           <img src="http://placehold.it/30x30">
           <h2>oisodfod</h2>
           <p>oisodfod</p>
           <p>sioods</p>
         </div>
         <div class="item-divider">something in the world</div>
         <div class="item">sdioisdo</div>
         <a class="item item-thumbnail-left" ><img src="http://placehold.it/20x200"> <h2>sdfios</h2><p>oifoi</p></a>
          <div class="item item-divider">text input(4 different style)</div>
          <label class="item item-input">
            <textarea placeholder="comment"></textarea>
          </label>
          <label class="item item-input">
            <span class="input-label">firstname:</span>
            <input type="text" placeholder="first name">
          </label>
          <label class="item item-stacked-label">
            <span class="input-label">common</span>
            <textarea placeholder="comment"></textarea>
          </label>
          <label class="item item-floating-label">
            <span class="input-label">common</span>
            <input type="text" placeholder='common'>
          </label>
          <label class="item item-floating-label">
            <span class="input-label">common</span>
            <input type="text" placeholder='common'>
          </label>
          <div class="item item-toggle">
            <label class="toggle">
              <input type="checkbox">
              <div class="track"><div class="handle"></div></div>
            </label>sdfsdf
          </div>
          <div class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </div>
          <div class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">go</div>
            <i class="radio-icon ion-checkmark"></i>
          </div>
          <div class="item range">
            <i class="icon ion-volumn-low"></i><input type="range">
          </div>
        </ul>
        <p class="">card</p>
        <div class="card">
          <div class="item item-divider">header</div>
          <div class="item item-text-wrap" >sdfsd</div>
          <div class="item item-divider">sdf</div>
          <a class="item item-icon-left"><i class="icon ion-home"></i>home</a>
          <a class="item item-avatar"><img src="http://placehold.it/200x200"><h2>fosfios</h2><p>ifoisdfo</p></a>
          <!-- <div class="item item-body"><img class="full-image"></img></div> -->
          <div class="item item-body">
            <img src="hdfijsof">
            <p>
            sfdiooosfjiso 计算机都</p>
            <p>
              <a href="" class="subdued">i like</a>
              <a class="subdued">5 comment</a>
            </p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            
            <a class="tab-item"><i class="icon ion-thumbsup"></i> dfsadf</a>
            <a class="tab-item"><i class="icon ion-chatbox"></i> dfsadf</a>
            <a class="tab-item"><i class="icon ion-share"></i> dfsadf</a>
          </div>

        </div>
  </ion-content>
</ion-view>