<ion-view view-title="nottest" >
<!-- name="nottest" hide-nav-bar="false" title="nosttitnowie" hide-back-button="" -->
  <!-- <ion-nav-buttons side="left">
       <button menu-toggle="left" ng-click="toggleleft()" class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons> -->
  
  <ion-nav-buttons side="right">
    <button class="button" >button right</button>
  </ion-nav-buttons>
  <ion-content> 
    <div ng-controller="showpopup">
      <button class="button button-royal button-full" ng-click="loading()">click</button>
      <button class="button button-assertive button-full" ng-click="showAlert()">alert</button>
      <button class="button button-full button-positive" ng-click="pup1()">popup</button>
    </div>
   
    <ion-slide-box>
      <ion-slide>
        <div class="box blue">safs</div>
      </ion-slide>
      <ion-slide>
        <div class="box blue">safs</div>
      </ion-slide>
      <ion-slide>
        <div class="box blue">safs</div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
