<ion-view view-title="website-store排行版">
  <div class="bar bar-subheader ">
    <div class="button-bar">
      <button href="" class="button" ng-class="" ng-click="select('title')">按标题排序</button>
      <button href="" class="button" ng-class="{true: 'button-dark', false: 'button-stable'}[!isActive]" ng-click="select('rank')">按排行排序</button>
    </div>
  </div>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positives button-small" ng-click="openModal()">类别</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear"><i class="icon ion-navicon"></i></button>
  </ion-nav-buttons>
  <ion-content class="has-subheader">
    <div class="list">
      <a class="item item-thumbnail-left" collection-repeat="item in items | orderBy:rank">
        <img src="item.img" alt="" width="40" height="40">
        <h2>{{item.title}}</h2>
        <p>{{item.subtitle}}</p>
        <!-- <p>{{item.rank}}</p> -->
        <span class="item-note button button-outline button-positive button-small">获取</span>
      </a>
    </div>
    <script type="text/ng-template" id="rankTpl.html">
      <ion-modal-view view-title="all store">
        <ion-header-bar class="bar-positive button-right" side="right">
          <h2 class="title">ifosido</h2>
          <button href="" class="button button-clear " ng-click="closeModal()">取消 </button>
        </ion-header-bar>
        <ion-content> 
          <ul class="list list-inset">
            <a href="{{item.child.link}}" class="item" ng-click="closeModal()" ng-repeat="item in tplItems">
              <ion-radio ng-if="!item.hasparent">{{item.child.name}}</ion-radio>
              <a class="item-icon-right" ng-if="item.hasparent">
                <i class="icon ion-chevron-right positive"></i> {{item.child.name}}
              </a>
            </a>
          </ul> 
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>

