 .car_top p {
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFF;
    background: #DDD none repeat scroll 0% 0%;
    position: relative;
    }
    .car_top p i {
    position: absolute;
    right: -20px;
    top: 0px;
    display: block;
    width: 50px;
    border-right: 4px solid #FFF;
    height: 35px;
    background: #DDD none repeat scroll 0% 0%;
    transform: skew(40deg);
}
    .car_top p.sel, .car_top p.sel i {
    background: #6DC0FF;
}
.car_kong {
    padding: 40px 0px 0px 200px;
    margin: 30px auto;
    min-height: 140px;
}
.pt20 {
    padding-top: 20px;
}
.blue {
    color: #46A6D6;
}
.fc {
    color: #6DC0FF ;
    font-size: 18px;
    font-size: 18px;
}


.nologin-tip, .l-tip {
    border: 1px solid #6DC0FF;
    background: #FFFDEE;
    padding: 10px 20px;
    line-height: 25px;
    margin-bottom: 20px;
    color: #F39700;
}

.nologin-tip .wicon, .l-tip .wicon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent url("../images/tx_icon.png") no-repeat scroll 0px 0px;
}
.btn-1 {
    font-family: arial,"microsoft yahei";
    display: inline-block;
    height: 25px;
    line-height: 25px;
    background-color: #F39700;
    background-image: #F39700;
    border-radius: 3px;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
    padding: 0px 10px;
    vertical-align: middle;
    cursor: pointer;
    border: 0px none;
    float: none;
    transition: all 0.2s ease-out 0s;
}
.car_list {
    width: 100%;
}
.car_list th, .car_list td {
    font-weight: 400;
    text-align: center;
}

.car_list th {
    line-height: 35px;
    background: #EEE none repeat scroll 0% 0%;
}
.carborderbot td {
    border-bottom: medium none;
}

.car_list td {
    padding: 15px 0px;
    border-bottom: 1px solid #EEE;
}
.red, a.red {
    color: #E83928;
}

.car_list td.num a {
    display: inline-block;
    border: 1px solid #CCC;
    padding: 0px 10px;
    line-height: 30px;
    font-size: 14px;
    float: left;
    background-color: #FFF;
}
.car_list .text {
    width: 70px;
    border: 1px solid #DDD;
    line-height: 30px;
    text-align: center;
    float: left;
    margin: 0px 5px;
    display: block;
    height: 30px;
    background-color: #FFF;
}

.mr20 {
    margin-right: 20px;
}
.car_btn {
    width: 100%;
    background: #EEE none repeat scroll 0% 0%;
    line-height: 40px;
    height: 40px;
    position: relative;
    margin-top: 15px;
}
.ml20 {
    margin-left: 20px;
    font-size: 14px;
}
.car_btn .sub {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    color: #FFF;
    background: #F39700 none repeat scroll 0% 0%;
    line-height: 40px;
}


.car_tit {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    border-bottom: 1px dashed #EEE;
    margin-bottom: 20px;
    position: relative;
}
/*.new_address {
    width: 100%;
    border-top: 1px dashed #DDD;
    padding: 20px 0px 0px;
    margin-top: 20px;
    display: none;
}*/
.car_tit a {
    font-size: 14px;
    position: absolute;
    right: 0px;
}

.carinfo_tab {
    width: 80%;
    margin: 0px auto;
}
.carinfo_tab th, .carinfo_tab td {
    vertical-align: top;
    font-weight: 400;
    line-height: 30px;
    padding: 5px 0px;
    border: medium none;
    background: transparent none repeat scroll 0% 0%;
}
.carinfo_tab th {
    text-align: right;
}
.red, a.red {
    color: #E83928;
}
.carinfo_tab td {
    text-align: left;
}
input.text {
    border: medium none;
    width: 100%;
    background: transparent none repeat scroll 0% 0%;
}
.carinfo_tab .text {
    border: 1px solid #DDD;
    height: 30px;
    width: 70%;
    margin-bottom: 10px;
    line-height: 30px;
}
.Validform_checktip {
    margin-left: 8px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}
.Validform_wrong {
    color: #F00;
    padding-left: 20px;
    white-space: nowrap;
    background: transparent url("valid_icons.png") no-repeat scroll -20px -40px;
}
form select {
    border: 1px solid #DDD;
    padding: 8px 0px;
}
input.sub {
    border: medium none;
    width: 100%;
    background: transparent none repeat scroll 0% 0%;
    cursor: pointer;
}
.carinfo_tab .sub {
    display: block;
    width: 150px;
    height: 35px;
    background: #6DC0FF ;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;
}
.car_pay a {
    display: inline-block;
    padding: 0px 20px;
    border: 1px solid #EEE;
    margin: 0px 5px 5px 0px;
    line-height: 30px;
}
.car_btn span {
    position: absolute;
    top: 0px;
    right: 170px;
    font-size: 12px;
}

.prefersum {
    width: 96%;
    padding: 10px 2%;
}
.d02 {
    padding: 10px 0px;
}
.prefersum .d02 span, .prefersum .d02 a, .prefersum .d02 input {
    float: left;
    line-height: 30px;
}
.prefersum .d02 .text {
    width: 110px;
    background: #DFDFDF none repeat scroll 0% 0%;
    text-align: center;
}
.prefersum .d02 .sub {
    width: 90px;
    color: #FFF;
    font-size: 16px;
    background: #6DC0FF ;
    margin: 0px 30px 0px 10px;
}
.prefersum .d01 input {
    top: 1px;
    position: relative;
}
.prefersum .d01, .prefersum .d02 {
    padding: 10px 0px;
}
.prefersum .d01 p {
    width: 110px;
    color: #F60;
    padding-left: 5px;
    display: inline-block;
}
.prefersum .d01 span {
    margin-left: 40px;
}
.main-tit h2 {
    display: block;
    padding-right: 10px;
    color: #666;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
}
.inner-box {
    margin: 30px 0px;
    min-height: 350px;
    border: 1px solid #F0F0F0;
    background: #FFF none repeat scroll 0% 0%;
    text-align: center;
}
.inner-box .dl-list {
    margin: 0px auto;
    padding: 30px;
    text-align: left;
    width: 879px;
    font-size: 14px;
}
.inner-box .dl-list dl {
    clear: both;
    display: block;
    padding: 5px 0px;
}
.inner-box .dl-list dl dt {
    display: block;
    padding: 5px 0px;
    float: left;
    width: 30%;
    line-height: 42px;
    min-height: 42px;
    color: #555;
    text-align: right;
}
.inner-box .dl-list dl dd {
    position: relative;
    padding: 5px 0px 5px 20px;
    line-height: 42px;
    min-height: 42px;
    color: #555;
    overflow: hidden;
}
.pay_sub {
    width: 120px;
    height: 36px;
    color: #FFF;
    font-size: 18px;
    background: #6DC0FF ;
    border-radius: 18px;
}