.loginModal {
		z-index:1000;
	}

	.loginModal > .con {
		z-index:1000;
		position:fixed;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		background-color:rgba(0,0,0,.7);
		text-align: center;
	}

	.formWrap {
		border:1px solid #ddd;
		position:absolute;
		top:50%;
		margin-top:-100px;
		display: inline-block;
		background-color:#fff;
	}