
body{
	background-size: cover;
	background-position: center center;
}

/*slider*/
.img_x{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #000;
}

.content1{
}

.section1{
	margin: 4% 0;
}

.border1{
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0.2;
}

.line2{
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;

}

.line2> p{
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.bg_format{
	background-size: cover;
	background-position: center center;
	height: 20px;
	width: 100%;
}

/*slide*/

/*biaoqian*/

.tip > ul {
	padding-left: 0px;
}

.tip > ul > li {
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #CCC6A6;
	height: 2em;
	line-height: 25px;
	padding: 0 10px;
	margin-bottom: 11px;
	margin-left: 10px;
	cursor: pointer;

}
.tip > ul > li > a{
	text-decoration: none;
}

.active-tip{
	background-color:#CCC6A6;
	color:#fff; 
}

/*图片*/
.img{
	padding: 0 15px;
}
.img > ul{
	padding-left: 0px;
}

.img > ul > li{
	float: left;
	width: 23%;
	list-style: none;
}

.img > ul > li > a > div{
	width: 100%;
	height: 100%;
	min-height: 40px;
}





/*footer*/
.foot1{
	width: 100%;
	position: fixed;
	bottom: 0px;
	display: ;
	

}

.foot1 > ul{
	padding-left: 0px;
	margin: 0 auto;
}

.foot1 > ul > li {
	width: 24.5%;
	height: 100%;
	float: left;
	list-style: none;
	text-align: center;
	border-left: rgb(228,225,208);
	background-color: rgb(204,198,166);
	padding-top: 10px;
	cursor: pointer;
	border-right:1px solid rgb(228,225,208);

}

.foot1 > ul > li:last-child{
	border-right: 0px;
	transition:1s all;
}

.foot1 > ul > li:hover{
	background-color: rgb(228,225,208);
}

.active1{
	background-color: rgb(228,225,208);
}
.foot1 > ul > li > a{
	display: inline-block;
	text-decoration: none;
}

.foot1 > ul > li > a > img{
	width: 20px;
	height: 20px;
}

.foot1 > ul > li > a > p{
	font-size: 10px;

}

.title1{
	color: #CCC6A6;
	margin-top: 0px;
}

.list1{
	position: relative;
	padding: 15px 0;
	margin: 15px 0;
	width: 100%;
	background-color: rgba(87, 87, 87, 0.23);

}

.list1 .img_wrx > img{
	border-radius: 10px; 
}
.list1 .img_wrx {
	padding: 5px 15px;
	float: left;
}

.list1 .intro{
	float: left;
	padding-top: 10px;
}

.list1 .louzhu{
	position: absolute;
	display: inline-block;
	padding: 5px;
	right: 15px;
	top: 60px;
	border-radius: 5px;
	color: #CCC6A6;
	border:1px solid #CCC6A6;
}


.intro .p1{
	color: #fff;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 0px;
	width: 200px;
}

.intro .p2{
	color: rgb(122,122,122);
	margin-bottom: 0px;
}


.form1{
	margin: 2% 0;
	background-color:rgba(87, 87, 87, 0.23);
	padding: 15px;
	text-align: center;
	position: relative;
}

.format_1{
	width: 17.5%;
	height: 100%;
	position: absolute;
	top: 0px;
	padding: 4% 2%;
}

.right1{
	right: 0px;

}

.left1{
	left: 0px;
}

.format_1 > i{
	font-size: 25px;
}

.format_1 > p{
	font-size: 9px;
}

.button-box{
	width: 75%;
	margin: 0 auto;
}

.button-box > button {
	width: 40%;
	height: ;
	display: inline-block;
	border: 1px solid #CCC6A6;
	padding: 4% 2%;
}

.color-active{
	background: #CCC6A6;
}
.button-box > button:first-child {
	margin-right: 15px;
}


.detail{
	color: #CCC6A6;
	padding: 0px 15px;

}

.detail > ul{
	padding-left: 0px;
}
.detail > ul > li {
	list-style: none;
}

.img_display{
	padding: 0 15px;
}

.img_wr{
	width: 100%;
	background-size: 100%;
	background-position: center center;
	margin-bottom: 15px;
	background-color: rgba(87, 87, 87, 0.23);
}



section.product_detail{
	background-color: rgba(87, 87, 87, 0.23);
	padding: 15px 0;
}

/*comment*/
.comment{
	background-color: rgba(87, 87, 87, 0.23);
	margin: 15px 0;
	padding-bottom: 15px;

}


.list2{
	position: relative;
	margin: 0 15px;
	border-bottom: 1px solid rgb(87, 87, 87);;
	padding: 15px 0;
	padding-bottom: 0px;
}




.list2 .img_wrx > img{
	border-radius: 10px; 
}
.list2 .img_wrx {
	padding: 5px 15px;
	float: left;
}

.list2 .intro{
	float: left;
	padding-top: 10px;
}

.list2 .louzhu{
	position: absolute;
	display: inline-block;
	padding: 5px;
	right: 15px;
	top: 15px;
	color: #CCC6A6;
	border:1px solid #CCC6A6;
	border-radius: 5px;
}
